// .events
//     display: grid
//     grid-template-columns: auto
//     grid-gap: 30px

.events
    display: flex
    flex-wrap: wrap
    justify-content: space-between

/* MEDIA QUERIES */
/* Small devices (landscape phones, 576px and up)*/
// media (max-width: 991.98px)
    

/* Large devices (desktops, 992px and up) */
// media (min-width: 992px)
    // .events grid-template-columns: auto auto auto